* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background: url(/image/fundo_univille.png);
    background-size: cover;
    background-position:center 25%; 
}


/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: #4A6133;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo_univille {
    margin-left: 30px;
    cursor: pointer;
}

.pages_link {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header_titles {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.buttoms {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    flex-wrap: wrap;              
    gap: 10px;                  
    width: 100%;                 
    max-width: 400px;
}

.btn_header {
    width: 120px;
    height: 30px;
    background-color: #EBEFE7;
    color: #5A6550;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.btn_header:hover {
    background-color: #ebefe7d5;
}

.pages_link:hover {
    color: #ebefe7d5;
}

/* ---------------- Responsividade header ---------------- */

@media (max-width: 1024px) {
    .header_titles {

        gap: 25px;
    }

    .buttoms {
        width: 30%;
        gap: 15px;
    }
}

@media (max-width: 768px) {

    .logo_univille {
        margin: 10px;
    }

    .header_titles {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
        gap: 25px;
    }
    
    .pages_link {
        font-size: 14px;
    }
    
    .buttoms {
        margin: 20px;
    }

    .btn_header {
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .logo_univille {
        width: 60px;
        height: auto;
    }

    .btn_header {
        width: 80px;
        height: 25px;
        font-size: 12px;
    }
    
    .buttoms {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
    }

    .header_titles {
        gap: 10px;
    }

    .pages_link {
        font-size: 14px;
    }

}


/* Tela inicial */

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 70px;
    justify-content: center;
    align-items: center;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
}

.text{
    color: white;
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttoms_middle {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: space-between;
    width: 600px;
    gap: 20px;
}

.btn_middle1 {
    width: 550px;
    height: 40px;
    gap: 5px;
    display: flex;
    align-items: center;         
    justify-content: center;     
    background: linear-gradient(90deg, #253615, #3D5227);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.btn_middle2 {
    width: 550px;
    height: 40px;
    background-color: #EBEFE7;
    color: #253615;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.btn_middle1:hover {
    color: #ebefe7d5;
}

.btn_middle2:hover {
    background-color: #ebefe7d5;
}

.info{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    width: 750px;
}

.title_info {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.text_info {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.con_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.con_info .material-symbols-outlined {
    font-size: 48px;
    color: white;
}
  
/* ---------------- Responsividade main ---------------- */
@media (max-width: 1024px) {

    .title {
        font-size: 60px;
    }

    .text {
        font-size: 25px;
    }

    .info {
        width: 90%;
        gap: 30px;
    }

    .buttoms_middle {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }

    .top {
        width: 90%;
    }
    
    .content {
        width: 90%;
    }
 
}

@media (max-width: 768px) {

    .title {
        font-size: 55px;
    }

    .text {
        font-size: 20px;
    }
    
    .buttoms_middle {
        flex-direction: column;
        gap: 15px;
    }

    .btn_middle1, .btn_middle2 {
        max-width: 300px;
    }

    .info {
        width: 70%;
        gap: 30px;
    }

    .con_info .material-symbols-outlined {
        font-size: 40px;
    }

    .title_info {
        font-size: 30px;
    }

    .text_info {
        font-size: 16px
    }
    
}

@media (max-width: 480px) {

    .text {
        font-size: 16px;
    }

    .title {
        font-size: 45px;
    }

    .buttoms_middle {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .btn_middle1, 
    .btn_middle2 {     
        max-width: 350px;
        font-size: 16px;
    }

    .top {
        width: 90%;
    }
    
    .content {
        width: 90%;
    }

    .info {
        gap: 5px;
    }

    .con_info .material-symbols-outlined {
        font-size: 34px;
    }

    .title_info {
        font-size: 20px;
    }

    .text_info {
        font-size: 14px
    }
}

