* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.26) 0%,
    rgba(164, 176, 153, 0.33) 49%,
    rgba(74, 97, 51, 0.35) 98%
   );
    
}


/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: #4A6133;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo_univille {
    margin-left: 30px;
    cursor: pointer;
}

.pages_link {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header_titles {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 55px;
}

.buttoms {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    flex-wrap: wrap;              
    gap: 10px;                  
    width: 100%;                 
    max-width: 400px;
}

.btn_header {
    width: 120px;
    height: 30px;
    background-color: #EBEFE7;
    color: #5A6550;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;           
    align-items: center;     
    justify-content: center;  
    text-align: center;  
}

.btn_header:hover {
    background-color: #ebefe7d5;
}

.pages_link:hover {
    color: #ebefe7d5;
}

/* ---------------- Responsividade header ---------------- */

@media (max-width: 1024px) {
    .header_titles {

        gap: 25px;
    }

    .buttoms {
        width: 30%;
        gap: 15px;
    }
}

@media (max-width: 768px) {

    .logo_univille {
        margin: 10px;
    }

    .header_titles {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
        gap: 25px;
    }
    
    .pages_link {
        font-size: 14px;
    }
    
    .buttoms {
        margin: 20px;
    }

    .btn_header {
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .logo_univille {
        width: 60px;
        height: auto;
    }

    .btn_header {
        width: 80px;
        height: 25px;
        font-size: 12px;
    }
    
    .buttoms {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
    }

    .header_titles {
        gap: 10px;
    }

    .pages_link {
        font-size: 14px;
    }

}

/* Container main */

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #515D47;
    font-size: 40px;
}

.container {
    margin-top: 40px;
    width: 35%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px #4a613383;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.con_input { 
    position: relative;
    width: 70%;
    margin: 15px auto;
}

.con_input .material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #666;
    pointer-events: none;
}

input, select {
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 45px; 
    font-size: 16px;
    box-sizing: border-box;
    display: block;
}

input:hover {
    background-color: rgba(224, 224, 224, 0.623);
}

select:hover {
    background-color: rgba(224, 224, 224, 0.623);
}

.btn_confirmar {
    width: 50%;
    height: 60px;
    background-color: #253615;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto;
}

select {
    color: #8C8C8C;
    font-size: 18px;
}

select option {
    color: black;
    font-size: 18px;
}

input::placeholder {
    color: #8C8C8C;
    font-size: 18px;
}

.btn_confirmar:hover {
    background-color: #3a4b2e;
}

/* ---------------- Responsividade container formulário ---------------- */

@media (max-width: 1024px) {

    .buttoms {
        width: 35%;
        gap: 12px;
    }

    .container {
        width: 50%;
    }

    h1 {
        font-size: 32px;
    }

    input, select {
        font-size: 15px;
        height: 55px;
    }

    .btn_confirmar {
        width: 60%;
        height: 55px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {

    .buttoms {
        width: 60%;
        margin: 15px auto;
        gap: 10px;
    }


    .container {
        width: 70%;
        height: auto;
        margin-top: 30px;
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    input, select {
        height: 50px;
        font-size: 15px;
    }

    .btn_confirmar {
        width: 70%;
        height: 50px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .buttoms {
        width: 80%;
        flex-direction: column;
        gap: 10px;
        margin: 10px auto;
    }

    .container {
        width: 90%;
        height: auto;
        margin-top: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
    }

    .con_input {
        width: 90%;
    }

    input, select {
        height: 45px;
        font-size: 14px;
        padding-left: 40px;
    }

    .btn_confirmar {
        width: 80%;
        height: 45px;
        font-size: 14px;
    }
}