body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom left, #96a085, #f4ede8);
  font-family: "Inter", sans-serif;
}

.div_login {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  padding: 60px 30px 30px; /* espaço para o ícone */
  width: 350px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.icone-usuario {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
}

.icone-usuario img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  padding: 5px;
}

.info {
  margin-bottom: 15px;
}

.info input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lembrar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.lembrar input {
  margin-right: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f2f2f2;
}

footer {
  margin-top: 20px;
}
