:root {
  --verde-primario: #4A6133;
  --fundo: #f9fafb;
  --cinza-texto: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--fundo);
  color: var(--cinza-texto);
  line-height: 1.6;
  padding-top: 90px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--verde-primario);
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

header h1 {
  font-size: 1.3rem;
}


.logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  height: 60px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.circulo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #f4f4f4;
  color: #4A6133;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.circulo:hover {
  background-color: #729b4a;
  color: #fff;
}

/* Bem vindo */
.container {
padding: 20px;
}

.welcome {
background: #4A6133;
color: white;
padding: 10px;
border-radius: 18px;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
.welcome h2{
font-size: 20px;
color: #ffffff;
padding-left: 15px;

}
.welcome p{
font-size: 14px;
color: #ffffff;
padding-left: 15px;

}
.welcome small{
font-size: 16px;
color: #D2D2D2;
padding-right: 35px;
padding-bottom: 5px;

}

.hora{
font-size: 16px;
color: #ffffff;
padding-right: 35px;
padding-bottom: 5px;

}

/* Cards principais */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 30px;
}

.card {
  background: white;
  border-radius: 18px;
  text-align: center;
  padding: 28px 0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card i {
  font-size: 26px;
  color: #4A6133;
  margin-bottom: 10px;
}

.card span {
  display: block;
  font-weight: 600;
  color: #4A6133;
}

.card:hover {
  background: #ffffff;
  color: white;

}

/* Layout principal */
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.coluna-esquerda,
.coluna-direita {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
/* Caixas brancas */
.box {
  background: white;
  padding: 22px 28px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 28px;
  color: #333;
}

.box h3 {
  font-size: 1.4rem;
  margin-bottom: 18px;
  color: #4A6133;
  border-bottom: 2px solid #4A6133;
  padding-bottom: 8px;
}

/* Agenda */
.agenda-item {
  display: flex;
  justify-content: space-between;
  color: #000000;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 14px 20px;
  font-size: 1rem;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  background: #F3F2F2;
  cursor: pointer;
}

.agenda-item:last-child {
  border-bottom: none;
}

.agenda-item small {
  color:#777;
  font-weight: 400;
}

/* Comunicados */
.comunicados div {
  margin-bottom: 12px;
  padding: 14px 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.red {
  background: #f9d6d559;
  color: #842029;
}

.red:hover {
  background: #f2b8b7;
}

.yellow {
  background: #fff9db;
  color: #664d03;
}

.yellow:hover {
  background: #fff3b0;
}

.blue {
  background: #d8efff;
  color: #084c61;
}

.blue:hover {
  background: #a9d4ff;
}

/* Mural com recados */
.box p {
  margin-bottom: 10px;
  line-height: 1.4;
  font-weight: 500;
}

.box p b {
  color: #3e5931;
}

.mural-item {
  display: flex;
  justify-content: space-between;
  color: #000000;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 14px 20px;
  font-size: 1rem;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  background: #F3F2F2;
  cursor: pointer;
}

.mural-item:last-child {
  border-bottom: none;
}

.mural-item small {
  color:#777;
  font-weight: 400;
}

/* Resumo acadêmico */
.box p {
  font-size: 1.1rem;
}

.resumo-item {
  display: flex;
  justify-content: space-between;
  color: #000000;
  border-radius: 10px;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 14px 20px;
  font-size: 1rem;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  background: #ffffff;
  cursor: pointer;
}

.resumo-item:last-child {
  border-bottom: none;
}
